<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjprogrammer.happybirthday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyBirthday">
        <activity android:name=".activities.words2.sub_activities.WordDetail2Activity"
            android:theme="@style/Theme.Words" />
        <activity android:name=".activities.words2.Words2Activity"
            android:theme="@style/Theme.Words" />
        <activity android:name=".activities.dessert_clicker.DessertClickerActivity" />
        <activity
            android:name=".activities.words.sub_activities.WordDetailActivity"
            android:theme="@style/Theme.Words" />
        <activity
            android:name=".activities.words.WordsActivity"
            android:theme="@style/Theme.Words" />
        <activity
            android:name=".activities.affirmations.AffirmationsActivity"
            android:theme="@style/Theme.Affirmations" />
        <activity
            android:name=".activities.themes.ThemeActivity"
            android:theme="@style/Theme.TipTime" />
        <activity
            android:name=".activities.tipTime.TipTimeActivity"
            android:theme="@style/Theme.TipTime" />
        <activity android:name=".activities.diceRoller.DiceRollerActivity" />
        <activity android:name=".activities.menu.MenuActivity" />
        <activity android:name=".activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>